<header>
    <nav>
        
        <a href="/home" >     <img src="/images/logo1.png" alt="Logo" width="120" height="100" style="margin-left: 2%;"></a>

            <a href="/home" >Home</a>
            <a href="/about" >About</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact" style="margin-right: 2%;">Contact</a>
        
    </nav>
</header>
