<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Gunjan Kaur </title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <style>
        body {
            background-image: url('/images/me2.png');
            background-size: cover; /* Adjust the image size to cover the entire viewport */
            background-attachment: fixed; /* Keeps the background fixed while scrolling */
        }
    </style>
</head>
<body>
    
    <%- include('partials/header') %>
    
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    
        <img src="/images/gunjan2.jpg" alt="Gunjan" style="height: 500px; width: 365px; margin-left: 200px;">
        <p style="margin-left: 10px; display: inline-block; margin-top: 345px; text-align: justify; margin-right: 420px;">
    Welcome to my portfolio, where I showcase my expertise as a dedicated and analytical 
    student specializing in Health Informatics Technology. I am Gunjanpreet Kaur, a graduate 
    with a degree in Pharmacy, who has seamlessly transitioned into the world of software 
    engineering and health informatics. My journey has been marked by a strong foundation in 
    software development, Agile practices, and a passion for making a meaningful impact on 
    healthcare systems.<br><br>
    <b>Educational Background:</b> 
    I hold a graduate degree in Pharmacy, a discipline that has nurtured my deep understanding 
    of healthcare at its core. This unique blend of pharmaceutical knowledge and technical 
    acumen allows me to approach Health Informatics with a holistic perspective, emphasizing 
    the importance of effective healthcare solutions.<br><br>

    <b>Technical Proficiency:</b><br>
    My journey into Health Informatics has equipped me with a robust skill set. I am well-versed 
    in Agile practices, a methodology known for its flexibility and adaptability, which is crucial in 
    a rapidly evolving healthcare landscape. Additionally, I possess a solid grasp of the Software
    Development Lifecycle (SDLC), a crucial framework for managing complex software projects 
    efficiently. These skills enable me to develop innovative and responsive healthcare solutions 
    that meet the ever-changing demands of the industry.<br><br>

    <b>Analytical Prowess:</b><br>
    I pride myself on being an analytical and results-oriented thinker. I have a proven ability to
    dissect complex problems, identify effective solutions, and make informed, data-driven 
    decisions. In Health Informatics, where precision and accuracy are paramount, my critical
    thinking skills have proven to be a valuable asset. I relish the challenge of finding creative 
    solutions to intricate issues in healthcare systems.<br><br>

    <b>Communication and Interpersonal Skills:</b><br>
    I recognize the significance of collaboration and effective communication in the field of 
    Health Informatics. My portfolio is strengthened by my strong interpersonal skills, which 
    enable me to foster positive relationships, facilitate teamwork, and convey ideas clearly and 
    persuasively. Working within interdisciplinary teams to bridge the gap between healthcare 
    and technology is a task I undertake with passion and ease.<br><br>

    In my journey as a Health Informatics student, I am committed to bridging the gap between
    healthcare and technology. With a solid foundation in software engineering and 
    pharmaceutical knowledge, an understanding of Agile practices, and a knack for critical 
    thinking, I aspire to contribute to the improvement of healthcare systems. My portfolio 
    serves as a testament to my dedication and proficiency in the field of Health Informatics 
    Technology, and I look forward to the opportunity to collaborate, learn, and make a lasting 
    impact on the healthcare industry. Thank you for exploring my portfolio.
</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <center>
    <%- include('partials/footer') %>
</center>
</body>
</html>
