<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gunjan Kaur Projects </title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <style>
        body {
           /* background-image: url('/images/me2.png');*/
            background-size: cover; /* Adjust the image size to cover the entire viewport */
            background-attachment: fixed; /* Keeps the background fixed while scrolling */
        }
    </style>
</head>
<body>
    
    <%- include('partials/header') %>
    <center>
   <img src="/images/p1.png" alt="Project1" style="width: 80%; height: 70%;"> <br>
   <img src="/images/p2.png" alt="Project2" style="width: 80%; height: 70%;"> <br>
   <img src="/images/p3.png" alt="Project3" style="width: 80%; height: 70%;"
</center>
<br><br><br><br><br><br><br><br><br><br><br>
    <center>
    <%- include('partials/footer') %>
</center>
</body>
</html>