<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gunjan Kaur Expertise Areas</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <style>
        body {
            background-image: url('/images/me2.png');
            background-size: cover; /* Adjust the image size to cover the entire viewport */
            background-attachment: fixed; /* Keeps the background fixed while scrolling */
        }
    </style>
</head>
<body>
    
    <%- include('partials/header') %>
    <center>
   <h1 style="margin-top: 120px; font-size: 60px; color: rgb(36, 90, 11);">SERVICES</h1> <br><br>

   <table style="text-align: center; border-collapse: separate; border-spacing: 40px;">
    <tr>
        <td><img src="/images/web.jpg" alt="web" style="height: 50px; width: 50px;"> <br>
            <p style="font-size: 15px;">Elevate your online presence with captivating <br>
                 web design. We create visually stunning, <br>
                user-friendly websites that leave a lasting <br>
                impression.From responsive layouts to custom  <br>
                graphics, we bring your vision to life,  <br>
                ensuring a seamless digital experience for <br>
                your audience.<br>
            </p>
        </td>
   
        <td><img src="/images/management.png" alt="web" style="height: 50px; width: 50px;">
            <p style="font-size: 15px;">Our project management expertise ensures that  <br>
                your initiatives stay on track. We excel in <br>
                planning, executing, and delivering projects on  <br>
                time  and within budget.With a proven track record <br>
                in coordinating teams and resources, we'll streamline <br>
                your projects for maximum efficiency and success.<br>
            </p>
        </td>
        
        <td><img src="/images/analytics.png" alt="web" style="height: 50px; width: 50px;">
            <p style="font-size: 15px;">Harness the power of data with our Analytics  <br>
                as a Service. We offer insightful data analysis <br>
                and reporting, helping you make data-driven <br>
                decisions for your business.Leverage our  <br>
                expertise to uncover trends, insights, and ,<br>
                growth opportunities, enabling you to <br>
                stay ahead in a data-driven world. <br>
            </p>
        </td>
    </tr>
</table>

<a href="/contact" class="about-link" >Lets Connect</a>

</center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <center>
    <%- include('partials/footer') %>
</center>
</body>
</html>
